.sidebars {
    display: flex;
    height: 100vh;
    float: left;
    overflow:auto;
}
.activeClicked {
    color: #007bff;
    font-weight: bold;
  }
  .custom-modal-close .btn-close {
    filter: brightness(0) invert(1);
  }
tr th{
  width: 20rem;
  padding: 2rem;
}
@media (min-width: 0px) and (max-width: 640px) {
  table{
    font-size: 15px;
  }
  .manageContainer{
    display: flex;
    flex-direction: column;
  }
  .flexBTN{
    display: flex;
    flex-direction: column;
  }
}
