.sidebar{
    display: flex;
    height: 100vh;
    float: left;
    overflow:auto;
}
.activeClicked {
    color: #007bff;
    font-weight: bold;
  }
  .custom-modal-close .btn-close {
    filter: brightness(0) invert(1);
  }
